body {
  font-family: Arial, Helvetica, sans-serif;
}
.weatherWrap {
  max-width: 600px;
  margin: 30px auto;
}

.weatherApp {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(#fff4be, #e69cff, #91d6ff);
}

h1 {
  opacity: 0.6;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
}

.cityDetails {
  text-align: center;
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}

.currentTemp {
  position: relative;
  right: 10px;
}

.currentWeather strong {
  font-size: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.currentWeather .units {
  font-size: 16px;
  position: relative;
  top: -33px;
}

.searchButton {
  background: #2196f3;
  color: white;

  border: none;
  border-radius: 7px;
  transition: all 200ms ease-in-out;
  text-align: center;
}

.currentTemp .active {
  color: black;
  cursor: default;
}
.currentTemp .active:hover {
  text-decoration: none;
}

a:link,
a:visited {
  text-decoration: none;
}

.weatherForecast {
  margin-top: 10px;
  text-align: center;
}

.weatherForecastDate {
  font-size: 14px;
  opacity: 0.6;
}

.weatherForecastTemps {
  font-size: 13px;
}

.forecastTempMin {
  opacity: 0.6;
}
